.navbar {
  composes: container from '../../styles/utils.module.css';
  display: flex;
  justify-content: space-between;
  padding-top: 2.3rem;
}

.navbar nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  height: 100dvh;
  width: 25.4rem;
  background-color: black;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 3.3rem 2.4rem 0rem 3.2rem;

  /* styling within the navbar */
  display: flex;
  flex-direction: column;
  background-color: transparent;
  -webkit-backdrop-filter: (10px);
  backdrop-filter: blur(10px);
}

.navbar nav button {
  align-self: flex-end;
}

.navbar ul {
  margin-block-start: 6.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.65rem;
}

.navbar ul > li a {
  color: var(--light-text);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  line-height: 19.2px;

  display: flex;
  gap: 0.05rem;
}

.navbar ul > li a span:first-of-type {
  font-weight: bold;
  width: 3rem;
}

.navbar nav[aria-hidden='true'] {
  /* should be slid out */
  transform: translateX(100%);
}
