.navbar {
  composes: container from '../../styles/utils.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.3rem;
  margin-bottom: 3rem;
}

.hamburgerMenu[aria-hidden='true'] {
  display: none;
}

.navbar nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  height: 100dvh;
  width: 25.4rem;
  background-color: black;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 3.3rem 2.4rem 0rem 3.2rem;

  /* styling within the navbar */
  display: flex;
  flex-direction: column;
  background-color: transparent;
  -webkit-backdrop-filter: (10px);
  backdrop-filter: blur(10px);
}

.navbar nav button {
  align-self: flex-end;
}

.navbar ul {
  margin-block-start: 6.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.65rem;
}

.navbar ul > li {
  position: relative;
}

.navbar ul > li a {
  color: var(--light-text);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  line-height: 19.2px;

  display: flex;
  gap: 0.05rem;
}

.navbar ul > li a span:first-of-type {
  font-weight: bold;
  width: 3rem;
}

.navbar nav[aria-hidden='true'] {
  transform: translateX(100%);
}

@media screen and (min-width: 768px) {
  .navbar nav {
    position: relative;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    transition: none;
  }

  .navbar nav::before {
    content: '';
    position: absolute;
    top: -3.5rem;
    left: -4.7rem;
    height: 9.6rem;
    width: 45rem;
    -webkit-backdrop-filter: (5px);
    backdrop-filter: blur(5px);
    z-index: 0;
  }

  .navbar nav button {
    display: none;
  }

  .navbar ul {
    margin-block-start: 0;
    flex-direction: row;
    gap: 3.5rem;
    z-index: 1;
  }

  .navbar ul > li a {
    font-size: 1.4rem;
    position: relative;
  }

  .navbar ul > li a::before {
    content: '';
    position: absolute;
    bottom: -3.9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    background-color: var(--light-text);
    height: 0.3rem;
    z-index: 1;
    display: none;
  }

  .navbar ul > li[data-active='true'] a::before {
    display: block;
  }

  .navbar ul > li a span:first-of-type {
    display: none;
  }

  .logo {
    width: 4.8rem;
    height: 4.8rem;
  }
}
