.navbar {
  padding: 2.3rem 0 2.3rem 0;
  overflow: hidden;
}

.navContainer {
  composes: container from '../../styles/utils.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburgerMenu[aria-hidden='true'] {
  display: none;
}

.navMenuMobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  height: 100dvh;
  width: 25.4rem;
  background-color: black;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 3.3rem 2.4rem 0rem 3.2rem;

  /* styling within the navbar */
  display: flex;
  flex-direction: column;
  background-color: transparent;
  -webkit-backdrop-filter: (10px);
  backdrop-filter: blur(10px);
}

.navMenuMobile button {
  align-self: flex-end;
}

.navMenuMobile ul {
  margin-block-start: 6.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.65rem;
}

.navMenuMobile ul > li {
  position: relative;
}

.navMenuMobile ul > li a {
  color: var(--light-text);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  line-height: 19.2px;

  display: flex;
  gap: 0.05rem;
}

.navMenuMobile ul > li a span:first-of-type {
  font-weight: bold;
  width: 3rem;
}

.navMenuMobile[aria-hidden='true'] {
  transform: translateX(100%);
}

/* regular navbar */
.navMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .hamburgerMenu {
    display: none;
  }

  .navMenuMobile {
    display: none;
  }

  .navMenu {
    display: block;
    position: relative;
    transform: translateX(-0.5rem);
  }

  .navMenu ul {
    display: flex;
    gap: 3.7rem;
    z-index: 1;
  }

  .navMenu::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: -5.8rem;
    height: 9.6rem;
    width: 45rem;
    -webkit-backdrop-filter: (5px);
    backdrop-filter: blur(5px);
    z-index: 0;
  }

  .navMenu ul > li a {
    font-size: 1.4rem;
    position: relative;
    color: var(--light-text);
    text-transform: uppercase;
    letter-spacing: 0.236rem;
  }

  .navMenu ul > li a::before {
    content: '';
    position: absolute;
    bottom: -3.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    background-color: var(--light-text);
    height: 0.3rem;
    z-index: 1;
    display: none;
  }

  .navMenu ul > li[data-active='true'] a::before {
    display: block;
  }

  .navMenu ul > li a span:first-of-type {
    display: none;
  }

  .logo {
    width: 4.8rem;
    height: 4.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding-top: 6.2rem;
  }

  .navbar nav::before {
    width: 90rem;
    left: -12.3rem;
  }

  .navbar nav ul {
    gap: 0;
  }

  .navbar nav ul li:not(:first-of-type) {
    margin-left: 5rem;
  }

  .navbar nav ul > li a {
    display: flex;
    gap: 1rem;
  }

  .navbar ul > li a span:first-of-type {
    display: block;
    width: auto;
  }

  .navbar nav {
    transform: translateX(-11rem);
    margin-block-start: 0.5rem;
  }

  .navbar ul > li a {
    font-size: 1.6rem;
    position: relative;
  }
}
