.crew {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 2.8rem;

  /* fonts */
  --crew-position: 400 1.6rem 'Bellefair', sans-serif;
  --crew-position-tablet: 400 2.4rem 'Bellefair', sans-serif;
  --crew-name: 400 2.4rem 'Bellefair', sans-serif;
  --crew-name-tablet: 400 4rem 'Bellefair', sans-serif;
}

.crewInfo {
  margin-top: 2.6rem;
  text-align: center;
}

.crewInfo > p {
  font: var(--barlow-xs-regular);
  color: var(--purple-text);
  width: min(100%, 45.8rem);
  margin: 0 auto;
  margin-block-start: 1.7rem;
}

/* adjust other crew member text */
.crewInfo > p[data-name*='Shuttleworth'] {
  width: min(100%, 50.8rem);
}

.crewInfo > p[data-name*='Glover'] {
  width: min(100%, 58.8rem);
}

.crewInfo > p[data-name*='Ansari'] {
  width: min(100%, 52.8rem);
  overflow-wrap: normal;
}

.crewInfo h2 {
  font: var(--crew-name);
  text-transform: uppercase;
  margin-block-start: 2.3rem;
}

.crewInfo h2 > p {
  font: var(--crew-position);
  opacity: 0.49;
  margin-block-end: 0.9rem;
}

.crewImage {
  border-bottom: 1px solid #383b4b;
}

.crewImage img {
  margin: 0 auto;
  height: 22.2rem;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .crew {
    flex-direction: column;
  }

  .crewImage {
    border-bottom: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .crewImage img {
    height: 100%;
    height: 52.6rem;
  }

  .crewInfo {
    display: flex;
    flex-direction: column;
  }

  .crewInfo > p {
    margin-block-start: 1.6rem;
    font: var(--barlow-sm-regular);
  }

  .crewInfo h2 {
    font: var(--crew-name-tablet);
    margin-block-start: 0;
  }

  .crewInfo h2 > p {
    font: var(--crew-position-tablet);
  }

  .nav {
    order: 1;
    margin-top: 3.2rem;
  }
}
