.crew {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 2.8rem;
}

.crewInfo {
  margin-top: 2.5rem;
  text-align: center;
}

.crewInfo > p {
  font-size: 1.5rem;
  color: var(--purple-text);
  line-height: 1.6;
  width: min(100%, 45.8rem);
  margin: 0 auto;
  margin-block-start: 1.3rem;
}

/* adjust other crew member text */
.crewInfo > p[data-name*='Shuttleworth'] {
  width: min(100%, 50.8rem);
}

.crewInfo > p[data-name*='Glover'] {
  width: min(100%, 58.8rem);
}

.crewInfo > p[data-name*='Ansari'] {
  width: min(100%, 52.8rem);
  overflow-wrap: normal;
}

.crewInfo h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-block-start: 2.3rem;
}

.crewInfo h2 > p {
  font-size: 1.6rem;
  opacity: 0.49;
  line-height: 1.6;
}

.crewImage {
  border-bottom: 1px solid #383b4b;
}

.crewImage img {
  margin: 0 auto;
  height: 22.2rem;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .crew {
    flex-direction: column;
  }

  .crewImage {
    border-bottom: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .crewImage img {
    height: 100%;
    height: 52.6rem;
  }

  .crewInfo {
    display: flex;
    flex-direction: column;
  }

  .crewInfo > p {
    margin-block-start: 1rem;
    font-size: 1.6rem;
    line-height: 1.7;
  }

  .crewInfo h2 {
    font-size: 4rem;
    margin-block-start: 0;
  }

  .crewInfo h2 > p {
    font-size: 2.4rem;
    line-height: 1.4;
  }

  .nav {
    order: 1;
    margin-top: 3.2rem;
  }
}
