@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.crew {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 2.8rem;

  /* fonts */
  --crew-position: 400 1.6rem 'Bellefair', sans-serif;
  --crew-position-tablet: 400 2.4rem 'Bellefair', sans-serif;
  --crew-position-desktop: 400 3.2rem/3.7rem 'Bellefair', sans-serif;
  --crew-name: 400 2.4rem 'Bellefair', sans-serif;
  --crew-name-tablet: 400 4rem 'Bellefair', sans-serif;
  --crew-name-desktop: 400 5.6rem/6.4rem 'Bellefair', sans-serif;
}

.crewInfo {
  margin-top: 2.6rem;
  text-align: center;
}

.crewInfo > p {
  font: var(--barlow-xs-regular);
  color: var(--purple-text);
  width: min(100%, 45.8rem);
  margin: 0 auto;
  margin-block-start: 1.7rem;
  animation: fade-in 0.5s ease-in-out;
}

.crewInfo > p[data-switch='true'] {
  animation: fade-out 0.5s ease-in-out forwards;
}

/* adjust other crew member text */
.crewInfo > p[data-name*='Shuttleworth'] {
  width: min(100%, 50.8rem);
}

.crewInfo > p[data-name*='Glover'] {
  width: min(100%, 58.8rem);
}

.crewInfo > p[data-name*='Ansari'] {
  width: min(100%, 52.8rem);
  overflow-wrap: normal;
}

.crewInfo h2 {
  font: var(--crew-name);
  text-transform: uppercase;
  margin-block-start: 2.3rem;
  animation: fade-in 0.5s ease-in-out;
}

.crewInfo h2 > p {
  font: var(--crew-position);
  opacity: 0.49;
  margin-block-end: 0.9rem;
}

.crewInfo h2[data-switch='true'] {
  animation: fade-out 0.5s ease-in-out forwards;
}

.crewImage {
  border-bottom: 1px solid #383b4b;
}

.crewImage img {
  margin: 0 auto;
  height: 22.2rem;
  object-fit: contain;
  animation: fade-in 0.5s ease-in-out;
}

.crewImage img[data-switch='true'] {
  animation: fade-out 0.5s ease-in-out forwards;
}

@media screen and (min-width: 768px) {
  .crew {
    flex-direction: column;
    min-height: calc(100svh - 190.5px);
  }

  .crewImage {
    border-bottom: none;
    margin-top: auto;
  }

  .crewImage img {
    height: 52.6rem;
  }

  .crewInfo {
    display: flex;
    flex-direction: column;
  }

  .crewInfo > p {
    margin-block-start: 1.6rem;
    font: var(--barlow-sm-regular);
  }

  .crewInfo h2 {
    font: var(--crew-name-tablet);
    margin-block-start: 0;
  }

  .crewInfo h2 > p {
    font: var(--crew-position-tablet);
  }

  .nav {
    order: 1;
    margin-top: 3.2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1110px) {
  .crew {
    min-height: 54rem;
    position: relative;
  }

  .crewInfo {
    min-height: 50.5rem;
    text-align: left;
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  .crewImage {
    position: absolute;
    bottom: -8.2rem;
    right: 0;
  }

  .crewImage img {
    height: 70rem;
    transform: translateX(2.5rem);
    border-bottom: 1px solid #383b4b;
  }

  .crewImage img[src*='shuttleworth'] {
    height: 64rem;
    transform: translateX(-3rem);
  }

  .crewImage img[src*='glover'] {
    height: 64.7rem;
  }

  .crewImage img[src*='ansari'] {
    height: 60rem;
    transform: translateX(4.5rem);
  }

  .crewInfo > p {
    text-align: left;
    margin-left: 0;
    margin-block-start: 2.5rem;
    font: var(--barlow-md-regular);
    max-width: 44.4rem;
  }

  .crewInfo h2 {
    font: var(--crew-name-desktop);
    margin-block-start: 9.3rem;
  }

  .crewInfo h2 > p {
    font: var(--crew-position-desktop);
    margin-block-end: 1.7rem;
  }

  .nav {
    margin: 0;
    align-self: end;
  }
}
