:root {
  --black-blue: #0b0d17;
  --white: #fff;
  --light-purple: #d0d6f9;
  --primary: var(--light-purple);
  --secondary: var(--black-blue);
  --light-text: #fff;
  --purple-text: var(--light-purple);
  --fast-transition: 0.25s linear;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-slow: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-size: 1.6rem;
  position: relative;
  color: var(--light-text);
  padding-bottom: 3rem;
}

body.mobileActive {
  overflow: hidden;
}

p {
  line-height: 1.5;
}

img,
svg,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  outline-color: transparent;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* reduced motion options */

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
