.layoutBody {
  background: url('/images/home/background-home-mobile.jpg') no-repeat
    center/cover;
  position: relative;
  min-height: 100%;
}

.layoutBody[data-path='/destinations'] {
  background: url('/images/destination/background-destination-mobile.jpg')
    no-repeat center/cover;
}

.layoutBody[data-path='/crew'] {
  background: url('/images/crew/background-crew-mobile.jpg') no-repeat
    center/cover;
}

.layoutBody[data-path='/technology'] {
  background: url('/images/technology/background-technology-mobile.jpg')
    no-repeat center/cover;
}

.layoutBody::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0 0 0 /20%);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .layoutBody {
    background: url('/images/home/background-home-tablet.jpg') no-repeat
      center/cover;
  }

  .layoutBody[data-path='/destinations'] {
    background: url('/images/destination/background-destination-tablet.jpg')
      no-repeat center/cover;
  }

  .layoutBody[data-path='/crew'] {
    background: url('/images/crew/background-crew-tablet.jpg') no-repeat
      center/cover;
  }

  .layoutBody[data-path='/technology'] {
    background: url('/images/technology/background-technology-tablet.jpg')
      no-repeat center/cover;
  }
}

@media screen and (min-width: 1024px) {
  .layoutBody {
    background: url('/images/home/background-home-desktop.jpg') no-repeat
      center/cover;
  }

  .layoutBody[data-path='/destinations'] {
    background: url('/images/destination/background-destination-desktop.jpg')
      no-repeat center/cover;
    position: relative;
  }

  .layoutBody[data-path='/crew'] {
    background: url('/images/crew/background-crew-desktop.jpg') no-repeat
      center/cover;
  }

  .layoutBody[data-path='/technology'] {
    background: url('/images/technology/background-technology-desktop.jpg')
      no-repeat center/cover;
  }
}
