.layoutBody {
  background: url('/images/home/background-home-mobile.jpg') no-repeat
    center/cover;
}

@media screen and (min-width: 768px) {
  .layoutBody {
    background: url('/images/home/background-home-tablet.jpg') no-repeat
      center/cover;
  }
}
