.layoutBody {
  background-image: url('/images/home/background-home-mobile.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100svh;
}

.layoutBody[data-path='/destinations'] {
  background-image: url('/images/destination/background-destination-mobile.jpg');
}

.layoutBody[data-path='/crew'] {
  background-image: url('/images/crew/background-crew-mobile.jpg');
}

.layoutBody[data-path='/technology'] {
  background-image: url('/images/technology/background-technology-mobile.jpg');
}

.layoutBody::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0 0 0 /20%);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .layoutBody {
    background-image: url('/images/home/background-home-tablet.jpg');
  }

  .layoutBody[data-path='/destinations'] {
    background-image: url('/images/destination/background-destination-tablet.jpg');
  }

  .layoutBody[data-path='/crew'] {
    background-image: url('/images/crew/background-crew-tablet.jpg');
  }

  .layoutBody[data-path='/technology'] {
    background-image: url('/images/technology/background-technology-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .layoutBody {
    background-image: url('/images/home/background-home-desktop.jpg');
  }

  .layoutBody[data-path='/destinations'] {
    background-image: url('/images/destination/background-destination-desktop.jpg');
  }

  .layoutBody[data-path='/crew'] {
    background-image: url('/images/crew/background-crew-desktop.jpg');
  }

  .layoutBody[data-path='/technology'] {
    background-image: url('/images/technology/background-technology-desktop.jpg');
  }
}
