.tech {
  --tech-title-sub: 400 1.4rem 'Barlow Condensed', sans-serif;
  --tech-title-sub-tablet: 400 1.6rem 'Barlow Condensed', sans-serif;
  --tech-title: 400 2.4rem 'Bellefair', sans-serif;
  --tech-title-tablet: 400 4rem 'Bellefair', sans-serif;

  display: grid;
  grid-template-areas:
    'image'
    'nav'
    'title'
    'description';
  margin-block-start: 6.3rem;
}

.title {
  grid-area: title;
  font: var(--tech-title);
  text-align: center;
  text-transform: uppercase;
  margin-block-start: 2.4rem;
}

.title p {
  font: var(--tech-title-sub);
  color: var(--purple-text);
  letter-spacing: 0.236rem;
  margin-block-end: 0.7rem;
}

.title p span {
  letter-spacing: 0;
}

.image {
  grid-area: image;
  height: 17rem;
}

.image img {
  position: absolute;
  left: 0;
  transform: translateY(-3.5rem);
  z-index: -1;
  width: 100%;
}

.description {
  grid-area: description;
  text-align: center;
  color: var(--purple-text);
  font: var(--barlow-xs-regular);
  margin: 0 auto;
  margin-block-start: 1.7rem;
  width: min(100%, 45.5rem);
}

.nav {
  grid-area: nav;
}

@media screen and (min-width: 768px) {
  .image {
    height: 31rem;
  }

  .image img {
    height: 31rem;
    transform: translateY(-0.5rem);
  }

  .nav {
    margin-block-start: 5rem;
  }

  .title {
    font: var(--tech-title-tablet);
    margin-block-start: 4.2rem;
  }

  .title p {
    font: var(--tech-title-sub-tablet);
    margin-block-end: 1.4rem;
    letter-spacing: 0.27rem;
  }

  .description {
    font: var(--barlow-sm-regular);
  }
}
