.tech {
  --tech-title-sub: 400 1.4rem 'Barlow Condensed', sans-serif;
  --tech-title-sub-tablet: 400 1.6rem 'Barlow Condensed', sans-serif;
  --tech-title: 400 2.4rem 'Bellefair', sans-serif;
  --tech-title-tablet: 400 4rem 'Bellefair', sans-serif;
  --tech-title-desktop: 400 5.6rem 'Bellefair', sans-serif;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'image'
    'nav'
    'info';
  margin-block-start: 6.3rem;
}

.techInfo {
  grid-area: info;
  margin-block-start: 2.4rem;
}

.title {
  font: var(--tech-title);
  text-align: center;
  text-transform: uppercase;
}

.title p {
  font: var(--tech-title-sub);
  color: var(--purple-text);
  letter-spacing: 0.236rem;
  margin-block-end: 0.7rem;
}

.title p span {
  letter-spacing: 0;
}

.image {
  grid-area: image;
  height: 17rem;
}

.portraitImage {
  display: none;
}

.image img {
  position: absolute;
  left: 0;
  transform: translateY(-3.5rem);
  z-index: -1;
  width: 100%;
}

.description {
  text-align: center;
  color: var(--purple-text);
  font: var(--barlow-xs-regular);
  margin: 0 auto;
  margin-block-start: 1.7rem;
  width: min(100%, 45.5rem);
}

.nav {
  grid-area: nav;
}

@media screen and (min-width: 768px) {
  .image {
    height: 31rem;
  }

  .image img {
    height: 31rem;
    transform: translateY(-0.5rem);
    object-fit: contain;
  }

  .nav {
    margin-block-start: 5rem;
  }

  .techInfo {
    margin-block-start: 4.2rem;
  }

  .title {
    font: var(--tech-title-tablet);
  }

  .title p {
    font: var(--tech-title-sub-tablet);
    margin-block-end: 1.4rem;
    letter-spacing: 0.27rem;
  }

  .description {
    font: var(--barlow-sm-regular);
  }
}

@media screen and (min-width: 1200px) {
  .tech {
    grid-template-areas: 'nav info image';
    grid-template-columns: auto 1fr auto;
  }

  .mobileImage {
    display: none;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image img {
    width: 51.5rem;
    height: 52.7rem;
    right: 0;
    left: auto;
    transform: translate(5.2rem, -4rem);
  }

  .portraitImage {
    display: block;
  }

  .nav {
    margin-block-start: 7rem;
  }

  .techInfo {
    margin-left: 8rem;
    margin-block-start: 7rem;
  }

  .title {
    text-align: left;
    margin: 0;
    align-self: end;
    font: var(--tech-title-desktop);
  }

  .title p {
    margin-block-end: 1rem;
  }

  .description {
    text-align: left;
    margin: 0;
    font: var(--barlow-md-regular);
    margin-block-start: 1.5rem;
  }
}
