.planetNavigation {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  min-height: 2.8rem;
}

.planetNavigation li > button {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.236rem;
  color: var(--purple-text);
}

@media screen and (min-width: 768px) {
  .planetNavigation {
    gap: 3.5rem;
  }

  .planetNavigation li > button {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
  }
}

@media screen and (min-width: 1024px) {
  .planetNavigation {
    justify-content: flex-start;
  }
}
