/* text */

/* heading */
.heading-m {
  font-size: 5.6rem;
  line-height: 1.3;
}

.title {
  font-size: 1.6rem;
  color: var(--light-text);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.27rem;
}

.title p {
  display: inline-block;
  opacity: 0.4;
  margin-right: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .heading-m {
    font-size: 8rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 0.338rem;
  }
}
