.container {
  width: 87%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: min(89.5%, 150rem);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: min(92.5%, 145rem);
  }
}

/* text */
.basetext {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .basetext {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .basetext {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
