.container {
  width: 87%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: min(89.5%, 150rem);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: min(92.5%, 145rem);
  }
}
